.section {
  padding-block: var(--section-padding-y);

  &--hidden-x {
    overflow-x: hidden;
  }

  &__header {
    display: flex;
    align-items: center;
    column-gap: 40px;

    &:not(:last-child) {
      margin-bottom: 80px;

      @include mobile {
        margin-bottom: 40px;
      }
    }

    @include mobile {
      text-align: center;
      flex-direction: column;
      row-gap: 30px;
    }
  }

  &__description {
    max-width: 580px;
  }
}